.table-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead th {
  background-color: #9051f9;
  color: white;
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border: 1px solid #ddd;
}

.no-data {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #666;
}

.empty-image img {
  width: 150px;
  height: auto;
  opacity: 0.5;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
