.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 20px; /* Padding for smaller screens */
}

.invoice-form {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  width: 100%; /* Make form responsive */
  max-width: 600px; /* Set a maximum width for larger screens */
  max-height: 70vh; /* Limit form height */
  box-sizing: border-box; /* Ensure padding is included in width and height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -176px;
}

.form-row {
  margin-left: -16px;
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  margin-bottom: 15px; /* Adjust spacing between rows */
}

.form-row label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px; /* Space between label and input */
  padding: 6px 0px;
}

.form-row input[type="text"],
.form-row input[type="date"],
.form-row input[type="number"] {
  width: 100%; /* Full width of form */
  padding: 8px;
  border: 1px solid #2115c5;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #2115c5;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 0px; /* Adjust space between button and inputs */
  align-self: flex-end; /* Align button to the right */
}

button:hover {
  background-color: #9051f9;
}

.form-row-buttons {
  display: flex;
  justify-content: flex-end; /* Align button to the right */
  margin-top: 20px;
}
