.navbar-buttons {
  display: flex;
  gap: 20px;
}

.nav-link-button {
  color: #f36f21; /* Orange text color */
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 4px; /* Rounded corners for a standard button look */
  background-color: white; /* White background */
  border: 1px solid #f36f21; /* Orange border */
  transition: background-color 0.3s, color 0.3s;
  margin: 0px 10px;
}

.nav-link-button2 {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #f36f21;
  border: 1px solid #f36f21;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 12px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: #f5f5f5;
  /* border-radius: 6px; */
  color: #f36f21;
  margin-top: 11px;
  margin-bottom: -19px;
}

.navbar-logo img {
  width: auto;
  height: 40px;
}
