
/* app.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Apply font to the entire application */
body {
  font-family: 'Roboto', sans-serif;
}

/* Apply font to specific elements if needed */
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 2px #c4cad4;
  background: #c4cad4;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px lightgrey;
  border-radius: 8px;
}
body{
  margin: 0;
  font-family: 'Roboto';
}
