
/* app.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Apply font to the entire application */
body {
  font-family: 'Roboto', sans-serif;
}

/* Apply font to specific elements if needed */
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}


*::-webkit-scrollbar {
  display: none;
}
body{
  margin: 0;
  font-family: 'Roboto';
}
